/* CSS Reset*/

*  {
	padding: 0;
	margin:0;
	box-sizing: border-box;

}

/*NAV*/
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 5px;
  background-color: rgb(232, 35, 101);
  height: 40px;
  z-index: 1;
  /*(79, 133, 232);*/
}


nav ul {
  float: right;
  margin:0;
  padding-top: 10px;

}

nav ul li {
  display: inline-block;
  margin:0 0 0 48px;
  padding-top: 5px;


}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size:16px;
  padding: 20px;
}


nav.color {
  background:rgba(232, 35, 101,0.5);
}

.logo {
  height:40px;
  float: left;
  margin:0 48px;
}


.burger{
	display: none;
	cursor: pointer;

}

.burger div{
	height: 5px;
	width: 25px;
	color: rgb(226,226,226);
	margin:5px;
	background-color: rgb(226,226,226);
}
/*END NAV*/
.background-image img{
	
	background-size: cover;	
	background-position: relative;
	padding-top: 45px;
	width: 100%;
	height: 60vh;

}

.background-container{
	min-height: 100vh;
}



.background-image h1{
	color: blue;
	background-color:rgba(225, 237, 228,0.5);
	position: absolute;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.button{
	position: absolute;
	background-color: skyblue;
	top: 35%;
	left: 35%;

}
.button1{	 
	position: absolute;
	background-color: skyblue;
	top: 35%;
	left: 53%;
}

.button:hover{
	background: blue;
}
.button1:hover {
	background: red;
}
.container{
	text-align: center;

	margin-bottom: auto;
	
	
}

/* Float four columns side by side */
.column {
	float: left;
	width: 33.3%;
	padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}


/* Style the counter cards */
.card1 {
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: rgb(157, 162, 171);
}
.card2 {
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color:rgb(157, 162, 171);
}
.card3 {
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color:rgb(157, 162, 171);
}

.card1_button:hover{
	background-color: skyblue;
}
.card2_button:hover{
	background-color: skyblue;
}
.card3_button:hover{
	background-color: skyblue;
}

.background-image h3{
	font-size: smaller;
	color: red;
	text-align: center;
}
.row p{
	color: black;
}

.social-medias i {
	margin-top: 20px;
	background-color:rgb(232, 35, 101);
	
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:rgb(232, 35, 101);
	color: white;
	text-align: center;

}
/* Media Queries */


/*@media css@rule that can be used to apply style on our media queries 
(mobile screens, tablet screens, desktop screens | larger screens)
only screen - media type, means that the contained styles should be only applied
 to the media queries (mobiles, tablets, desktop screens | larger screens)
min width & max width - media features, they specify the device dimensions that we are targeting.

*/
/*Mobile phone*/
@media only screen and (max-width:760px){
		
	.burger{
			display: block;
			position:absolute;
			background-color: rgb(232, 35, 101)
			top:3px;
			left:310px;
			z-index: 1;
		}
		.background-image img{
			width: 100%;
			height: 40vh;
	
		}
		.background-image h1{
			font-size:14px;
			display:inline-block;
		}
		.container{
			width: 110%;
			height: 190vh;
		}
		.column{
			width: 50vh;
			justify-content: justify;
			margin-left: 20px;
			margin-right: 20px;
		}
		.button{
			top:25%;
			width: 22vh;
			height: 5vh;
			left:28%;
			}
			.button1{
			top:30%;
			width: 22vh;
			height: 5vh;
			left:28%;
			}
		.background-image h3{
			font-size:x-small;
			color: gray;
			text-align: center
		}
		}

	
	@media only screen (max-width:1024px){
		.background-image img{
		
		}

		.burger{
			display: block
		}

		.background-image img{
			width: 100%;
			height: 40vh;
	
		}
		.background-image h1{
			font-size:48px;
			display:inline-block;
		}
		.container{
			width: 100%;
			height: 150vh;
		}
		.column{
			width: 100%;
		}
		.button{
			top:25%;
			width: 22vh;
			height: 5vh;
			left:33%;
			}
			.button1{
			top:30%;
			width: 22vh;
			height: 5vh;
			left:33%;
			}
		.background-image h3{
			font-size:x-small;
			color: gray;
			text-align: center
		}
		}

	}
	/*desktop*/

	@media only screen and (min-width:961px){
	/*body {
		background-color: red;
		}*/
			.burger{
			display: none;
		}

	}
