/* CSS Reset*/

* {
	padding: 0;
	margin:0;
	box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

/*NAV*/
nav {
  position: fixed;
  width: 100%;
  line-height: 5px;
  background-color: rgb(232, 35, 101);
  height: 40px;
  z-index: 1;
  /*(79, 133, 232);*/
}


nav ul {
  float: right;
  margin:0;
  padding-top: 10px;

}

nav ul li {
  display: inline-block;
  margin:0 0 0 48px;
  padding-top: 5px;


}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size:16px;
  padding: 20px;
}


nav.color {
  background:rgba(232, 35, 101,0.5);
}
/*end of nav */

.logo {
  height:40px;
  float: left;
  margin:0 48px;
}

.container {
	padding-top: 50px;

	min-height: 100vh;
	width: 100%;

}


.container {
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;


  background-image: linear-gradient(
    rgba(237, 232, 232, 0.5),
    rgba(207, 207, 207, 0.5)
    ),
  
  url('../images/contactUs.jpg');

}

.social-medias{
  margin-left: 640px;
  padding: 0 auto;
 }

 .social-medias i{
  color: blue;
  text-align: center;
 }

.social-media a {
  color:red;
  margin:0.5rem;
}
 .social-media a:hover {
  opacity: 1
 }

.whole-body{
  margin-top: 100px;
  width: 90%;
  min-height: 100vh;
  margin:0 auto;

}

.map{
  margin-top: 100px;
  float: left;
  width: 50%;

}

#email{
  width: 417px;
  margin-bottom: 20px;
  border-radius: 90px;
}
.form {
 padding: 20px;
 margin-top: 100px;
  width: 50%;
  float: right;
  text-align: center;

}

.form h1{
  text-align: left;
  margin-left: 50px;
  margin-bottom: 20px;
  color: white;
}

#comment{
  border-radius: 10px;
  width: 80%;
}

#submit1{
  border-radius: 10px;
  background-color: white;
  color: black;
}

#submit1:hover{
  background-color: transparent;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(232, 35, 101);
  color: white;
  text-align: center;

}