/* CSS Reset*/

*  {
  padding: 0;
  margin:0;
  box-sizing: border-box;
font-family: 'PT Sans', sans-serif;
}

/*NAV*/
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 5px;
  background-color: rgb(232, 35, 101);
  height: 40px;
  z-index: 1;
  /*(79, 133, 232);*/
}


nav ul {
  float: right;
  margin:0;
  padding-top: 10px;

}

nav ul li {
  display: inline-block;
  margin:0 0 0 48px;
  padding-top: 5px;


}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size:16px;
  padding: 20px;
}


nav.color {
  background:rgba(232, 35, 101,0.5);
}

.logo {
  height:40px;
  float: left;
  margin:0 48px;
}

/*END NAV*/


.header {
  text-align: center;
  padding: 10px;
}


/* Create two equal columns that floats next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;

}

.column img {
 margin-top: 8px;
  vertical-align: middle;
  width: 100%;
 
}



.grid-container {
  width: 80%;
  margin: 0 auto;
}



.row{
 display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}


.row h1{
  justify-content: center;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#image1:hover{
  background-color: blue;
}

#image2:hover{
  background-color: red;
}

#image:hover{
  background-color: white;
}


.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.card {
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  background-color: white;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 50%;
  text-align: center;
  margin-top: 30px;
  margin: 0 auto;
  padding: 0;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: red;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
/*end of modals*/


.container{
  min-height: 100vh;
  width: 100%;
}


/*Slide show*/


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left:0;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Next & previous buttons */
 .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(232, 35, 101);
  color: white;
  text-align: center;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
  


}



@media screen and (max-width:760px){
.column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform:translateX(50px);
  }
  to{
    opacity:1;
    transform: translateX(0px);
  }


}

