* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

}
html{
	height: 100%;
}

body{
	/*background-color: #ebebeb;*/
	background-color: black;	
	line-height: 1.6em;
	color: white;
	background: white;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}

nav	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color:rgb(232, 35, 101);
	/*font-family: 'Poppins', sans-serif;*/
	opacity: 0.9;
	position: fixed;
	width: 100%;
	margin-top: 0px;
	z-index: 1;
	font-family: 'Advent Pro', sans-serif;

}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;

}
.nav-links:active {
	text-decoration: blink;
}
.nav-links li {
	list-style: none;

}

.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
.nav-links a:active {
	color: white;

}

.burger	{
	display: none;
	cursor: pointer;
}

.burger div {
	height: 5px;
	width: 25px;
	color: white;
	margin: 5px;
	background-color: white;

}

/*media queries*/

@media screen and (max-width:1024px){
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 60%;

	}

	@media screen and (max-width:760px){
		body {
			overflow-x: hidden;
		}
		.nav-links {
			position: absolute;
			right: 0px;
			height: 92vh;
			top: 8vh;
			background-color: rgb(232, 35, 101);
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in;

			/*background-color: bluel*/

			
			
		}
		#source{

			margin-right: 0px;
			padding: 20px;		

		}
		.nav-links li {
			opacity: 70%;
		}
		.burger {
			display: block;
		}

	}

	.nav-active{
		transform: translateX(0%);
	}

	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);

		}
	}







