/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}



nav {
  position: fixed;
  width: 100%;
  line-height: 5px;
  background-color: rgb(232, 35, 101);
  height: 40px;
   justify-content: space-around;
  z-index: 1;
  /*(79, 133, 232);*/
}


nav ul {
  float: right;
  margin:0;
  padding-top: 10px;
   justify-content: space-around;

}

nav ul li {
  display: inline-block;
  margin:0 0 0 48px;
  padding-top: 5px;
  justify-content: space-around;


}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size:16px;
  padding: 20px;
   justify-content: space-around;
}


nav.color {
  background:rgba(232, 35, 101,0.5);
}

.logo {
  height:40px;
  float: left;
  margin:0 48px;
}

.container{
	min-height: 100vh;
	width: 100%;
}

.subcon{
	padding-top: 50px;
	
}

.subcon img {
	width: 100%;
	height: 50vh;
}

.subcon h1{
	color: blue;
	text-align: center;
}

.content {
	min-height: 100vh;
	width: 100%;
}
.par p {
	margin-top: 20px;
	width: 50%;
	text-align: center;
	font-size: 18px;
	text-align: justify;
	padding-right: 10px;
}

.par h3{
	margin: 0 auto;
	text-align: justify;
	font-size: 12px;
}
 
 .content-image img{
 	
 	width: 50%;
 	float: right;
 	height: 50vh;
 	padding-left: 20px;
 }

 .par li {
 	font-weight: bold;
 	font-size: 30px;
 }




.par1 p {
	width: 50%;
	text-align: center;
	font-size: 18px;
	text-align: justify;
	padding-right: 10px;
}

.par1 h3{
	margin: 0 auto;
	text-align: justify;
	font-size: 12px;
}
 
 .content-image1 img{
 	margin:0 auto;
 	width: 50%;
 	float: right;
 	height: 50vh;
 	padding-left: 20px;
 }

 .par1 li {
 	font-weight: bold;
 	font-size: 30px;
 }


.border{
	height: 5px;
	border:solid red;
	margin-bottom: 10px;

}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:rgb(232, 35, 101);
	color: white;
	text-align: center;

}