/* CSS Reset*/

*  {
  padding: 0;
  margin:0;
  box-sizing: border-box;

}
nav {
  position: fixed;
  width: 100%;
  line-height: 5px;
  background-color: rgb(232, 35, 101);
  height: 40px;
  z-index: 1;
  /*(79, 133, 232);*/
}


nav ul {
  float: right;
  margin:0;
  padding-top: 10px;

}

nav ul li {
  display: inline-block;
  margin:0 0 0 48px;
  padding-top: 5px;


}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size:16px;
  padding: 20px;
}


nav.color {
  background:rgba(232, 35, 101,0.5);
}

.logo {
  height:40px;
  float: left;
  margin:0 48px;
}


.container{
  padding-top: 33px;
  min-height: 100vh;
  /*height: 100vh;*/
  width: 100%;


  padding-bottom: 30px;
  z-index: 9999;
 
}

.container::after {
  content: " ";
  display: block;
  clear:both;
}

.left-container {
  box-sizing: border-box;
  margin-top: 5px;
  width: 50%;
  height: 100px;
  background-color: rgb(191, 186, 186);
  float: left;
  /*border:1px solid black;*/

 }

.right-container  {
  box-sizing: border-box;
  margin-top: 5px;
  padding:0 auto;
  width: 50%;
  float: left;
}


.top{
 height: 207.5px;
 background-color: rgb(7, 197, 245);

}

.bottom {
 height: 207.5px;
  background-color: rgb(0, 132, 166);
}


.left-container h1{
  text-align: center;
}

.left-container p{
  text-align: center;
  font-size: 16.2px;
}


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 





/* Create two equal columns that floats next to each other */
.column {
 
  width: 100%;



}

.column img {
  height: 20rem;
  width: 100%;
  padding: 20px;


 
}


.row{
  display:-ms-flexbox;
  display: flex;
  -ms-flex-wrap:wrap;
  flex-wrap: wrap;
  vertical-align: middle;
  justify-content: center;
}


.row h1{
  justify-content: center;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#image1:hover{
  background-color: blue;
}

#image2:hover{
  background-color: red;
}

#image:hover{
  background-color: white;
}


.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}



.overlay-content {
  position: relative;
  top: 20%;
  width: 50%;
  text-align: center;
  margin-top: 30px;
  margin: 0 auto;
  padding: 0;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: red;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
/*end of modals*/


.submit_button{
  background-color: gray;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin-left: 50%;
}


.submit_button:hover{
  background-color: steelblue;
}

.top .desc{
  padding-top:80px;
}


.top h1{
  color:yellow;
}

.bottom h1{
  color: yellow;
}






.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(232, 35, 101);
  color: white;
  text-align: center;

}




@media screen and (max-width: 1024px){
}


@media screen and (max-width:760px){
 .left-container {
  margin-top: 5px;
  font-size: 8px;
  width: 100%;
 }
 .container{
  width: 100%;
 }
 .desc p{
  font-size: xx-small;
  justify-content: center;
 }
 .column img{
  margin-top: 33px;
  height: 25vh;
  width: 100%;
 }
 .right-container{
  margin-top: 36vh;
  float: none;
  width: 100%;
 }
 .top{
  height: 100px;
 }
.bottom textarea{
  height: 80px;
  width: 57vh;

}
.bottom{
    height: 130px;
  }
.submit_button{
  height: 50px;

  margin-left: 150px;
  position: absolute;
}



@keyframes navLinkFade{
  from{
    opacity: 0;
    transform:translateX(50px);
  }
  to{
    opacity:1;
    transform: translateX(0px);
  }


}

