
/*CSS Reset*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
/*NAV*/
nav {
  position: fixed;
  width: 100%;
  line-height: 5px;
  background-color: rgb(232, 35, 101);
  height: 40px;
  z-index: 1;
  /*(79, 133, 232);*/
}


nav ul {
  float: right;
  margin:0;
  padding-top: 10px;

}

nav ul li {
  display: inline-block;
  margin:0 0 0 48px;
  padding-top: 5px;


}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size:16px;
  padding: 20px;
}


nav.color {
  background:rgba(232, 35, 101,0.5);
}
/*end of nav */

.container{
  min-height: 100vh;
  width: 100%;
}
.steerwheel img{
   margin-top: 40px;
  height: 50vh;
  width: 100%;
}



.steerwheel h1{
  color: white;
  background-color: rgba(65, 74, 67, 0.5);
  position: absolute;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  top: 20%;
  left: 14%;
  transform: translate(-50%, -50%)
}

.steerwheel p{
    top: 25%;
  left: 2%;
  position:absolute;
  padding: 0 auto;
  background-color: rgba(65, 74, 67, 0.5);
  color: white;

}

.desc h1{
  left:60%;
  position: absolute;
  top: 62%;
  color: red;

}

.desc p{
  left:60%;
  position: absolute;
  top: 70%;
  text-align: justify;
   overflow: hidden;
}

.column img{
  margin-top: 10px;
}

.seeMore {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;;
  left:60%;
  top: 93%;
}

.seeMore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.seeMore span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.seeMore:hover span {
  padding-right: 25px;
}

.seeMore:hover span:after {
  opacity: 1;
  right: 0;
}



/*2nd batch*/

.desc1 h1{
  left:60%;
  position: absolute;
  top: 112%;
  color: red;

}

.desc1 p{
  left:60%;
  position: absolute;
  top: 120%;
  text-align: justify;
}

.column1 img{
  margin-top: 20px;
}

.seeMore1 {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;;
  left:60%;
  top: 140%;
}

.seeMore1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.seeMore1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.seeMore1:hover span {
  padding-right: 25px;
}

.seeMore1:hover span:after {
  opacity: 1;
  right: 0;
}



.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}



.overlay-content {
  position: relative;
  top: 20%;
  width: 50%;
  text-align: center;
  margin-top: 30px;
  margin: 0 auto;
  padding: 0;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: red;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.logo {
  height:40px;
  float: left;
  margin:0 48px;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(232, 35, 101);
  color: white;
  text-align: center;

}