/* CSS Reset*/

*  {
	padding: 0;
	margin:0;
	box-sizing: border-box;
font-family: 'PT Sans', sans-serif;
}

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 5px;
  background-color: rgb(232, 35, 101);
  height: 40px;
   justify-content: space-around;
  z-index: 1;
  /*(79, 133, 232);*/
}


nav ul {
  float: right;
  margin:0;
  padding-top: 10px;
   justify-content: space-around;

}

nav ul li {
  display: inline-block;
  margin:0 0 0 48px;
  padding-top: 5px;
  justify-content: space-around;


}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size:16px;
  padding: 20px;
   justify-content: space-around;
}


nav.color {
  background:rgba(232, 35, 101,0.5);
}

.logo {
  height:40px;
  float: left;
  margin:0 48px;
}


.jumbo img{
	height: 100vh;
	width: 100%
}

.jumbo #showMore{
	border-radius: 10px;
	top:80%;
	left:50%;
	transform: translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	background-color:rgb(232, 35, 101);
	outline:1px red;
	color:white;
	font-size: 16px;
	padding:20px 50px;
	border:none;
	cursor: pointer;
	text-decoration: none;
	border:2px solid black;
	-webkit-transition-duration:0.4s;
	transition-duration: 0.4s;
	position: absolute;

}

#showMore:hover{
 background-color:rgba(232, 35, 101, 0.5);
}
.background-image img{
	
	background-size: cover;	
	background-position: relative;
	width: 100%;
	height: 75vh;

}

.background-container{
	min-height: 100vh;
	width: 100%;

}



.background-image h1{
	color: blue;
	background-color:rgba(225, 237, 228,0.5);
	position: absolute;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	top: 120%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.container{
	text-align: center;

	margin-bottom: auto;
	
	
}

/* Float four columns side by side */
.column {
	float: left;
	width: 33.3%;
	padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}


/* Style the counter cards */
.card1 {
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color:#f4511e;
}
.card2 {
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color:#f4511e;
}
.card3 {
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color:#f4511e;
}

.card1_button:hover{
	background-color: skyblue;
}
.card2_button:hover{
	background-color: skyblue;
}
.card3_button:hover{
	background-color: skyblue;
}

.background-image h3{
	font-size: smaller;
	color: red;
	text-align: center;
}
.row p{
	color: black;
}

.social-medias i {
	margin-top: 20px;
	padding-bottom: 20px;

	
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:rgb(232, 35, 101);
	color: white;
	text-align: center;



}
/*media queries*/

@media screen and (max-width:1024px){
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 60%;

	}

	@media screen and (max-width:760px){
		body {
			overflow-x: hidden;
		}
		.nav-links {
			position: absolute;
			right: 0px;
			height: 92vh;
			top: 8vh;
			background-color: rgb(232, 35, 101);
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in;

			/*background-color: bluel*/

			
			
		}
		#source{

			margin-right: 0px;
			padding: 20px;		

		}
		.nav-links li {
			opacity: 70%;
		}
		.burger {
			display: block;
		}

	}

	.nav-active{
		transform: translateX(0%);
	}

	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);

		}
	}
@media screen and (max-width: 1024px){
	/*.menu{
		display: flex;
		justify-content: center;
		width:60%;
	}*/

	.background-image h1 {
		font-size: 28px;
	}
}

@media screen and (max-width:760px){
	body{
		overflow-x:hidden;

	}
	.background-image h1{
		font-size: 13px;
		justify-content: center;
	}

	.button {
		left: 10%;
		top:150px;
	}

	.button1 {
		top:150px;
	}


	.background-image img{
		padding-top: 12px;
	}

	.background-image h3{
		font-size: x-small;

	}


	.column{
			width: 50vh;
			justify-content: justify;
			margin-left: 20px;
			margin-right: 20px;
		}
	.burger{
		display: block;
		top:100%;
		left: 100px;

	}
	#showMore {
		width: 5px;
		height: 5px;
	}

	.jumbo img{
		height: 100%;
		width: 100%;
	}

	nav li ul{
		display: inline-block;
	}
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform:translateX(50px);
	}
	to{
		opacity:1;
		transform: translateX(0px);
	}


}